.student-dashboard {
    padding: 10px;
    font-family: Arial, sans-serif;
    background-color: #000814;
    min-height:100vh;
  }

  .student-dashboard h1{
    font-size:3rem;
    color: #00d4ff;
  }

  .student-dashboard h2{
    color: #00d4ff;
  }
  
  .hub-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  /* .hub-card {
    background-color: #000814;
    border: 1px solid #00d4ff;;
    border-radius: 8px;
    padding: 10px;
    width: 250px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
  } */
  
  .hub-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .hub-card h3 {
    margin: 0 0 10px;
    color: #ffffff;
    text-align: left;
  }
  
  .hub-card p {
    margin: 5px 0;
    color: #ffffff;
  }
  
/*loader*/

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000814;
}

.loader {
  width: 40px;
  height: 40px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#hubcard{
  width:330px;
}

.hub-card {
  background-color: #000814;
  border: 1px solid #00d4ff;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  text-align: center;
}

.hub-card .hub-images {
  width: 50px;
  height:50px; 
  object-fit: contain;
  border-radius: 50%; 
  margin:0%; 
  border: 2px solid #00d4ff; 
}

.hubCardPara{
  text-align: left;
  margin-left:3%;
}

.hub-card h3 {
  margin: 10px 0;
  color: #ffffff;
  font-size: 1.2rem;
}

.hub-card p {
  margin: 5px 0;
  color: #ffffff;
  font-size: 0.9rem;
}

.hub-card:hover {
  transform: translateY(-5px);
}


@media only screen and (max-width:700px)
{
  .student-dashboard h1{
    font-size:2rem;
  }
}