

.spoc-dashboard {
  padding: 10px;
  max-width: 900px;
  margin: auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
  
h1 {
  font-size: 1.5rem;
  color: #4CAF50;
  text-align: center;
  margin-bottom: 20px;
}
h2{
  text-align: left;
}

.spoc-info {
  display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 4% 2%;
    margin: 12px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.spoc-info h1 {
  color: #4CAF50;
  font-size: 24px;
  margin-bottom: 10px;
}

.spoc-info p {
  font-size: 16px;
  color: #333;
  margin: 5px 0;
}
.add-button-div{
  margin:auto;
  width:100%;
  display: flex;
}
.add-button {
  width:90%;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.add-button a {
  color: white;
  text-decoration: none;
}

.add-button:hover {
  background-color: #45a049;
}

.hubs-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.hub-card {
  width:90%;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding:10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.hub-card h2 {
  text-align: left;
  font-size:1.1rem;
  color: #333;
  margin:0;
}

.hub-card p {
  font-size: 14px;
  color: #555;
  margin: 5px 0;
}

.hub-actions {
  margin-top: 10px;
  display: flex;
  justify-content:start;
}

.update-button,
.delete-button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  color: white;
  margin-right: 2%;
}

.update-button {
  background-color: #2196F3;
}

.update-button:hover {
  background-color: #1e88e5;
}

.delete-button {
  background-color: #f44336;
}

.delete-button:hover {
  background-color: #e53935;
}

.loading,
.error {
  text-align: center;
  font-size: 18px;
  margin: 20px 0;
  color: #555;
}
