.spoc-dashboard {
  padding: 10px;
  margin: auto;
  background-color: #000814;
  min-height: 100vh;
}

.spoc-header {
  font-size: 1.5rem;
  color: #00d4ff;
  text-align: center;
  margin-bottom: 20px;
}

.spoc-add-button-div {
  margin: auto;
  width: 100%;
  display: flex;
}

.spoc-add-button {
  width: 90%;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.spoc-add-button a {
  color: white;
  text-decoration: none;
}

.spoc-add-button:hover {
  background-color: #45a049;
}

.spoc-hubs-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.spoc-hub-card {
  background-color: #000814;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.spoc-hub-card-title {
  font-size: 1.1rem;
  color: #ffffff;
  margin: 0;
}

.spoc-hub-card-coordinator,
.spoc-hub-card-email {
  font-size: 14px;
  color: #ffffff;
  margin: 5px 0;
}

.spoc-hub-actions {
  margin-top: 10px;
  display: flex;
  justify-content: start;
}

.spoc-update-button,
.spoc-delete-button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  color: white;
  margin-right: 2%;
}

.spoc-update-button {
  background-color: #2196F3;
}

.spoc-update-button:hover {
  background-color: #1e88e5;
}

.spoc-delete-button {
  background-color: #f44336;
}

.spoc-delete-button:hover {
  background-color: #e53935;
}

.spoc-loading,
.spoc-error {
  text-align: center;
  font-size: 18px;
  margin: 20px 0;
  color: #555;
}

.spoc-success-message,
.spoc-error-message {
  text-align: center;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

.spoc-success-message {
  background-color: #d4edda;
  color: #155724;
}

.spoc-error-message {
  background-color: #f8d7da;
  color: #721c24;
}


/*loader*/

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000814;
}

.loader {
  width: 40px;
  height: 40px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}