.forgot-password-container {
    max-width: 400px;
    margin: 00px auto;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .forgot-password-container h2 {
    font-size: 24px;
    text-align: center;
    color: #333;
  }

  .para{
    width:100%;
    display: flex;
    justify-content: center;
  }
  
  .forgot-password-container p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
    width:80%;
    text-align: center;
  }
  
  .forgot-password-container .input-group {
    margin-bottom: 15px;
  }
  
  .forgot-password-container .input-group label {
    font-size: 14px;
    color: #333;
  }
  
  .forgot-password-container .input-group input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 5px;
  }
  
  .forgot-password-container .submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .forgot-password-container .submit-btn:hover {
    background-color: #218838;
  }
  
  .forgot-password-container .message {
    color: #28a745;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .forgot-password-container .back-to-login {
    text-align: center;
    width:100%;
    margin-top: 20px;
  }
  
  .forgot-password-container .back-to-login a {
    color: #0066cc;
    text-decoration: none;
  }
  
  .forgot-password-container .back-to-login a:hover {
    text-decoration: underline;
  }

  .role-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .role-selection .labeldiv{
    width:75%;
  }
  
  .role-selection label {
    margin: 10px;
    font-size: 16px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content:space-between;
  }

  .role-selection label input{
    width:10%;
  }
  
  