.footer {
  background-color: rgb(11, 21, 40);
  color: white;
}

.footer-content {
  display: flex;
  flex-direction: column;
  margin-left: 3%;
}

.footerContentSection{
  display: flex;
}

.footer-socials{
  margin-left:20%;
}

.contact-footer{
  margin-bottom: 4%;
}

.footer-section h4 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #1b6aa2;
}

.footer-section a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1em;
  transition: color 0.3s;
}

.footer-section ul{
  padding: 0;
}

.footer-section li{
  list-style-type: none;
}

.footer-section a:hover {
  color: #166cb2;
}

.social-media-links {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.social-media-links li {
  display:flex;
}

.social-media-links a {
  font-size: 1.1rem;
  color: white;
  text-decoration: none;
}

.social-media-links a:hover {
  color: #2b79b9;
}

.footer-bottom {
  background-color: #222;
  padding: 15px 0;
  text-align: center;
}

.footer-bottom p {
  margin: 0;
  font-size: 1.rem;
}
