
/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0.5% 1%;
  background-color: #343a40;
  color: white;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.redirectAnchorTag{
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}
.logo{
  width: 10%;
  border-radius: 10%;
  margin-right: 2%;
}

.header h1 {
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 30px;
}

.nav-links li {
  margin: 0;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #ffd700;
}

.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 5px;
}

@media (max-width: 768px) {

  .header {
    padding: 0.5% 3%;
  }

  .header h1{
    font-size: 16px;
  }

  .logo{
    width: 20%;
  }

  .logo-container{
    padding:2%;
  }

  .nav-links {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    background-color: #343a40;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
  }

  .nav-links.open {
    height: 300px;
    border-bottom-left-radius:20%;
    border-bottom-right-radius:20%;
  }

  .nav-links li {
    padding: 15px 0;
    width: 100%;
    text-align: center;
  }

  .hamburger {
    display: flex;
  }
}
